<!DOCTYPE html>
<html>

<head>
  <title>首頁</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>歡迎，<%= username %>
  </h1>
  <form action="/users/logout" method="get">
    <input type="submit" value="登出">
  </form>
</body>

</html>

<!-- - [|D15| JS - `<form>` 表單](https://ithelp.ithome.com.tw/articles/10206661) -->