@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

html,
body {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login .item+.item {
  margin: 10px 0;
}