<!DOCTYPE html>
<html>

<head>
  <title>index</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    .item {
      margin: 10px 0;
    }
  </style>
</head>

<body>
  <h1>index</h1>
  <form action="/login" method="post">
    <div class="item">
      <label for="username">
        <input type="text" id="username" value="Tony" name="username">
      </label>
    </div>
    <div class="item">
      <label for="password">
        <input type="password" id="password" value="iamironman" name="password">
      </label>
    </div>
    <div class="item">
      <input type="submit" value="send">
    </div>
  </form>
</body>

</html>