<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %> 您好
  </h1>
  <form action="/login/logout" method="get">
    <input type="submit" value="登出">
  </form>
</body>

</html>